/* Header styles */
header {
  background-color: #1f2d51;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
  max-height: 50px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #dc3545;
}

/* Main styles */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 40px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-top: 40px;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px 0;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
}

li img {
  max-width: 100%;
  height: auto;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.chart-container img {
  max-width: 100%;
  height: auto;
}

.chart-container a {
  display: block;
  text-align: center;
}

.chart-container a:hover img {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

section:nth-of-type(even) {
  background-color: #100a6e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section:nth-of-type(odd) {
  background-color: #4b628d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.twitter-embed {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom right, #1a1a1a, #1f2d51);
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  ul li {
    margin: 5px;
  }
}
